<div class="row">
  <div class="col-md-6">
    <h2>Edit Journal</h2>

    <form class="form edit-journal-form">
      <div class="form-group">
        <label for="journal-title">Title:</label>
        <input class="form-input" type="text" id="journal-title" value="{{journal.title}}" />
      </div>
      <div class="form-group">
        <label for="journal-description">Description:</label>
        <input class="form-input" type="text" id="journal-description"value="{{journal.description}}" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>
  
</div>
<script src="/js/edit.js"></script>

