<div class="row">
  <div class="col-md-6">
    <h2>Create New Journal</h2>

    <form class="form new-journal-form">
      <div class="form-group">
        <label for="journal-title">Title:</label>
        <input class="form-input" type="text" id="journal-title" />
      </div>
      <div class="form-group">
        <label for="journal-description">Description:</label>
        <input class="form-input" type="text" id="journal-description" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  
</div>
<script src="/js/new.js"></script>

